{
  "presets": ["es2015-rollup", "react"],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
    		["es2015", { "modules": false }],
    		"react"
    	],
			"plugins": [
				"transform-es2015-modules-commonjs"
			]
    }
  }
}
