.slide {
  position: relative;
  display: block;
  box-sizing: border-box;

  &:focus {
    outline: none !important;
  }

  &Horizontal {
    float: left;
  }
}

.focusRing {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  pointer-events: none;
  outline-width: 5px;
  outline-style: solid;
  outline-color: Highlight;

  @media (-webkit-min-device-pixel-ratio:0) {
    outline-style: auto;
    outline-color: -webkit-focus-ring-color;
  }
}
