/*
  All of the CSS below is strictly for the demo.  none of the components rely on this for actual
  functionality.
*/
body {
  background-color: #5c8e6e;
}

.headline {
  background-color: darkgrey;
}

.slider {
  max-width: 800px;
}

.verticalSlider {
  width: 100%;
  max-width: 300px;
}
