body {
  background-color: floralwhite;
}

.headline {
  background-color: darkgrey;
}

.slider {
  max-width: 800px;

  & :global {
    & .carousel__image--with-background {
      height: 0;
      padding-bottom: calc(40000% / 300);
    }
  }
}

.verticalSlider {
  max-height: 800px;
}
