/*
  All of the CSS below is strictly for the demo.  none of the components rely on this for actual
  functionality.
*/

$dark: #373737;
$light: #f4f4f4;
$white: #fefefe;
$highlight1: #c0b283;
$highlight2: #dcd0c0;
$font-size--large-headline--mobile: 4rem;
$font-size--large-headline--desktop: 4.8rem;
$font-size--large-text--mobile: 1.6rem;
$font-size--large-text--desktop: 2rem;

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: $dark;
  background-color: $light;
}

hr {
  border: 0;
  border-bottom: 1px dashed $highlight1;
  background: $highlight2;
  margin: 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.5em;

  @media all and (min-width: 480px) {
    font-size: 1.3rem;
  }
}

.responsiveImg {
  max-width: 100%;
}

.heroHeadline {
  font-size: $font-size--large-headline--mobile;
  text-align: center;
  color: $highlight1;
  line-height: 4rem;

  @media all and (min-width: 768px) and (min-height: 570px) {
    margin-top: 0;
    font-size: $font-size--large-headline--desktop;
    line-height: 4.4rem;
  }
}

.heroText {
  font-size: $font-size--large-text--mobile;
  text-align: justify;

  &:last-child {
    margin-bottom: 0;
  }

  @media all and (min-width: 768px) and (min-height: 570px) {
    font-size: $font-size--large-text--desktop;
  }
}

.heroList {
  font-size: $font-size--large-text--mobile;
  line-height: 2rem;

  a {
    color: $highlight2;
    text-decoration: none;

    &:hover,
    &:active,
    &:visited {
      color: $highlight2;
    }
  }
}

.logo {
  margin: 2rem 0;
}

.logofill {
  fill: $dark;
}

.firstSlide {
  position: relative;
  color: $light;
  background-color: $dark;

  @media all and (min-height: 570px) {
    min-height: 80vh;
  }

  &CenterVert {
    @media all and (min-height: 570px) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  &CenterHoriz {
    max-width: 460px;
    margin: auto;
    padding: 20px;
  }
}

.secondSlide {
  max-width: 768px;
  margin: auto;
  padding: 20px;
  font-size: 1.2rem;
}

.examples {
  padding: 1rem;
  background-color: $white;

  &Demo {
    @extend .examples;
    background-color: $highlight2;
    h2, h3 {
      color: $white;
    }
  }

  &Inner {
    max-width: 100rem;
    margin: auto;

    &Center {
      @extend .examplesInner;
      text-align: center;
    }
  }
}

.example {
  .headline {
    text-align: left;
  }
}

.headline {
  text-align: center;
  color: $highlight1;
}

.select {
  width: 300px;
}

.slider {
  max-width: 800px;
}

.externalLink {
  vertical-align: baseline;
  fill: $highlight2;
  margin: 0 0.4rem;
  width: 1.4rem;
  height: 1.4rem;
  position: relative;
  top: 0.2rem;
}

.verticalSlider {
  width: 100%;
  max-width: 300px;
}

.express {
  text-align: center;
  padding: 2rem;
}
