.container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  cursor: zoom-in;
}

.hover {
  opacity: 1;
  transform: scale(2);
}
