{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "ENV": true,
    "react": true,
    "react-dom": true
  },
  "extends": [
    "airbnb"
  ],

  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "peerDependencies": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": [0, "never"],
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
        "every": [ "nesting", "id" ]
      },
      "allowChildren": true
    }],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelAttributes": ["label"],
      "controlComponents": ["input", "select"],
      "depth": 3,
    }],
  }
}
