{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": true,
    "babelOptions": {
      "configFile": "../.babelrc"
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "ENV": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "peerDependencies": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": [0, "never"],
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelAttributes": ["label"],
      "controlComponents": ["input", "select"],
      "depth": 3
    }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
